{% extends "./base_osmosis.html" %}
{% load humanize %}
{% load static %}



{% block content %}


<div class="row" id='last_hour__amounts'>

        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                    </h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="">
                        {{fig_blocks_per_hour|safe}}
                    </div>
                </div>
            </div>
        </div>

        
</div>
{% endblock %}
